extends ../layout

block content
  .page-header
    h2 Ingenico Connect API

  .btn-group.btn-group-justified
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/documentation/hosted-payment-pages/')
      i.fa.fa-home
      | Hosted Payments
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/documentation/api/', target='_blank')
      i.fa.fa-code
      | API Reference
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/signup-for-sandbox/', target='_blank')
      i.fa.fa-gear
      | Get Sandbox API Keys

  br

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='amount', value='3500')
    input(style='background-color: #2869AC;color: #FFF',type='submit', class='btn', value='Hosted Payment of $35.00')

  h3
    i.fa.fa-credit-card
    | Test Cards
  p In test mode, you can use these test cards to simulate a successful transaction:

  table.table.table-striped.table-bordered.table-condensed
    thead
      tr
        th Number
        th CVV
        th Amount
      tbody
        tr
          td 4012000033330026
          td 123
          td 3500
        tr
          td 5424180279791732
          td 123
          td 2200
        tr
          td 4567350000427977
          td 123
          td 4005

  .panel.panel-default
    .panel-heading(style='background-color: #2869AC;color: #FFF') Ingenico Successful Hosted Payment Page
    .panel-body
      p This is the response you will get when the sdk successfully creates an instance of
        |  a hosted payment page.
      pre.
        {
          "partialRedirectUrl" : "poweredbyglobalcollect.com/pay8915-53ebca407e6b4a1dbd086aad4f10354d:8915-28e5b79c889641c8ba770f1ba576c1fe:9798f4c44ac6406e8288494332d1daa0",
          "hostedCheckoutId" : "8915-28e5b79c889641c8ba770f1ba576c1fe",
          "RETURNMAC" : "f5b66cf9-c64c-4c8d-8171-b47205c89a56"
        }

  hr
  .row
    .col-xs-12.col-md-12.col-lg-12.center
        img(style='align: middle;', src='http://i.imgur.com/AXbjIqg.png', class='img-responsive inline-block')
  br
  br

  form(method='get', action='/api/ingenico-products')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='amount', value='3500')
    input(type='hidden', name='currencyCode', value='USD')
    input(type='hidden', name='locale', value='en_GB')
    input(type='hidden', name='countryCode', value='US')
    input(style='background-color: #2869AC;color: #FFF', id='ingenico-products', type='submit', class='btn', value='List of payment products')

  br

  .panel.panel-default
    .panel-heading(style='background-color: #2869AC;color: #FFF') Ingenico Successful Payment Products Query
    .panel-body
      p The fields for this request was hidden to save space but based on the query, a
        |  successful response would have an array of paymentProducts with relevant fields.
      pre.
        const data = {
          hide: [
            "fields"
          ],
          isRecurring: true,
          countryCode: 'US',
          locale: 'en_US',
          currencyCode: 'USD',
          amount: 10000
        };
      br
      h3 Connect SDK Response
      div(id="ingenico-products-response")
        pre

  form(method='get', action='/api/ingenico-products/1')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='amount', value='10000')
    input(type='hidden', name='currencyCode', value='USD')
    input(type='hidden', name='locale', value='en_GB')
    input(type='hidden', name='countryCode', value='US')
    input(style='background-color: #2869AC;color: #FFF', id='ingenico-specific-product', type='submit', class='btn', value='Payment Product Details')

  br

  .panel.panel-default
    .panel-heading(style='background-color: #2869AC;color: #FFF') Ingenico Successful Payment Product Query
    .panel-body
      p The request is for a specific payment product and would require the id as an
        | argument. It contains data and validations for the fields needed for a
        | payment to be successfully processed.
      pre.
        const productId = Number(req.params.productId);
        const data = {
          isRecurring: true,
          countryCode: 'US',
          locale: 'en_US',
          currencyCode: 'USD',
          amount: 10000
        };
      br
      h3 Connect SDK Response
      div(id="ingenico-product-response")
        pre

  form(id='ingenico-payment', method='post', action='/api/ingenico-payment')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='amount', value='2980')
    input(type='hidden', name='cvv', value='123')
    input(type='hidden', name='cardholderName', value='Wile E. Coyote')
    input(type='hidden', name='cardNumber', value='4567350000427977')
    input(type='hidden', name='expiryDate', value='1220')
    input(type='hidden', name='currencyCode', value='EUR')
    input(type='hidden', name='locale', value='en_US')
    input(type='hidden', name='additionalInfo', value='b')
    input(type='hidden', name='countryCode', value='US')
    input(type='hidden', name='zip', value='84536')
    input(type='hidden', name='city', value='Monument Valley')
    input(type='hidden', name='state', value='Utah')
    input(type='hidden', name='street', value='Dessertroad')
    input(type='hidden', name='houseNumber', value='13')
    input(style='background-color: #2869AC;color: #FFF', type='submit', class='btn', value='Make a payment of € 29.80')

  br

  .panel.panel-default
    .panel-heading(style='background-color: #2869AC;color: #FFF') Example of a successful payment creation response
    .panel-body
      p The request is for a charge to me made with a minimum amount of fields needed
        | It contains data on the status of the payment as well as come card info used to
        | process the request.
      pre.
        const data = {
          cardPaymentMethodSpecificInput: {
            paymentProductId: 1,
            skipAuthentication: false,
            card: {
              cvv: "123",
              cardholderName: "Wile E. Coyote",
              cardNumber: "4567350000427977",
              expiryDate: "1220"
            }
          },
          order: {
            amountOfMoney: {
              currencyCode: "EUR",
              amount: 2980
            },
            customer: {
              locale: "en_US",
              billingAddress: {
                additionalInfo: "b",
                countryCode: "US",
                zip: "84536",
                city: "Monument Valley",
                state: "Utah",
                street: "Desertroad",
                houseNumber: "13"
              },
            },
          }
        };
      br
      h3 Connect SDK Response
      div(id="ingenico-payment-response")
        pre
