extends ../layout

block content
  .page-header
    h2 Ingenico Connect API

  .btn-group.btn-group-justified
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/documentation/hosted-payment-pages/')
      i.fa.fa-home
      | Hosted Payments
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/documentation/api/', target='_blank')
      i.fa.fa-code
      | API Reference
    a.btn(style='background-color: #2869AC;color: #FFF', href='https://epayments.developer-ingenico.com/signup-for-sandbox/', target='_blank')
      i.fa.fa-gear
      | Get Sandbox API Keys

  br

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='amount', value='3500')
    input(style='background-color: #2869AC;color: #FFF',type='submit', class='btn', value='Hosted Payment of $35.00')

  h3
    i.fa.fa-credit-card
    | Test Cards
  p In test mode, you can use these test cards to simulate a successful transaction:

  table.table.table-striped.table-bordered.table-condensed
    thead
      tr
        th Number
        th CVV
        th Amount
      tbody
        tr
          td 4012000033330026
          td 123
          td 3500
        tr
          td 5424180279791732
          td 123
          td 2200
        tr
          td 4567350000427977
          td 123
          td 4005

  p A full list can be found 
    a(href='https://epayments.developer-ingenico.com/documentation/testcases/') here

  .panel.panel-default
    .panel-heading(style='background-color: #2869AC;color: #FFF') Ingenico Successful Hosted Payment Page
    .panel-body
      p This is the response you will get when the sdk creates an instance of a hosted payment page.

      pre.
        {
          "partialRedirectUrl" : "pay1.sandbox.secured-by-ingenico.com/checkout/3425-159ef9a3471444c8a0111bdfabe40aa:3b13baa5-2f82-4fec-8d04-99e0fd72d215:09e575e21053459eb2e62fc2692f85d3?requestToken=82dceb9b-874e-4673-9416-88feaeadb1e",
          "hostedCheckoutId" : "8915-28e5b79c889641c8ba770f1ba576c1fe",
          "RETURNMAC" : "f5b66cf9-c64c-4c8d-8171-b47205c89a56"
        }

